/* line 4, ../scss/style.scss */
.abs-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* line 13, ../scss/style.scss */
.left {
  float: left;
}

/* line 17, ../scss/style.scss */
.disp {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 10px;
  background: grey;
  font-size: 4em;
  font-weight: bold;
  font-family: DS-Digital, sans-serif;
  border: 2px solid transparent;
  direction: rtl;
  min-height: 90px;
  color: #f2f2f2;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-box-shadow: inset 0 0 10px 5px #5D5D5D;
  -webkit-box-shadow: inset 0 0 10px 5px #5D5D5D;
  box-shadow: inset 0 0 10px 5px #5D5D5D;
}
/* line 34, ../scss/style.scss */
.disp::before {
  content: " ";
}
/* line 38, ../scss/style.scss */
.disp.reset {
  color: #d9d9d9;
}
/* line 42, ../scss/style.scss */
.disp.active {
  color: white;
  -moz-box-shadow: inset 0 0 10px 5px #444444;
  -webkit-box-shadow: inset 0 0 10px 5px #444444;
  box-shadow: inset 0 0 10px 5px #444444;
}
/* line 47, ../scss/style.scss */
.disp.active::before {
  content: ".";
}

/* line 53, ../scss/style.scss */
body {
  background: #060503;
}

/* line 57, ../scss/style.scss */
.container-main {
  width: 730px;
  height: 500px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 2%;
  background: ghostwhite;
  -moz-box-shadow: 0 10px 15px 5px black;
  -webkit-box-shadow: 0 10px 15px 5px black;
  box-shadow: 0 10px 15px 5px black;
}

/* line 67, ../scss/style.scss */
.container-display {
  padding: 20px 10px;
  overflow: auto;
}

/* line 72, ../scss/style.scss */
.container-address {
  width: 65%;
  margin-right: 5%;
}

/* line 77, ../scss/style.scss */
.container-data {
  width: 30%;
}

/* line 81, ../scss/style.scss */
.container-keyboard {
  height: 100%;
  padding: 10px;
}

/* line 86, ../scss/style.scss */
.block-kybd {
  box-sizing: border-box;
}

/* line 90, ../scss/style.scss */
.button {
  float: right;
  width: 75px;
  height: 75px;
  max-width: 50%;
  box-sizing: border-box;
  margin: 5px 0 5px 5px;
  text-transform: uppercase;
  border-radius: 50%;
  border: 2px solid #BBBBBB;
  outline: none;
  font-family: Consolas, sans-serif;
  font-size: 1em;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
/* line 108, ../scss/style.scss */
.button:hover {
  background: #dfdfff;
}
/* line 112, ../scss/style.scss */
.button:active {
  background: #0d0d0d;
}

/* line 117, ../scss/style.scss */
.large-block {
  width: 53%;
  padding: 0 20px;
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
}
/* line 124, ../scss/style.scss */
.large-block .button:nth-of-type(4n+1) {
  clear: both;
}

/* line 129, ../scss/style.scss */
.small-block {
  width: 23.5%;
}
/* line 132, ../scss/style.scss */
.small-block:nth-of-type(1) .button {
  float: left;
}
/* line 137, ../scss/style.scss */
.small-block:nth-of-type(1) .button:nth-of-type(2n+1) {
  margin-left: 0;
}
/* line 141, ../scss/style.scss */
.small-block .button:nth-of-type(2n+1) {
  clear: both;
}

/*# sourceMappingURL=style.css.map */
