@import "compass";
@import "variables";

.abs-center{ //absolute centering
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.left{
  float: left;
}

.disp{
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 10px;
  background: grey;

  font-size: 4em;
  font-weight: bold;
  font-family: DS-Digital, sans-serif;
  border: 2px solid transparent;
  direction: rtl;
  min-height: 90px;
  color: darken(white,5);
  @include transition(all .5s ease);
  @include single-box-shadow($displayGrey,0, 0, 10px, 5px,inset);

  &::before{
    content: " ";
  }

  &.reset{
    color: darken(white,15);
  }

  &.active{
    //border-color: $activeBlue;
    color: white;
    @include single-box-shadow(darken($displayGrey,10),0, 0, 10px, 5px,inset);

    &::before{
      content: ".";
    }
  }
}

body{
  background: $darkbrown;
}

.container-main{
  width: 730px;
  height: 500px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 2%;
  background: ghostwhite;
  @include single-box-shadow(0, 10px, 15px, 5px, black);
}

.container-display{
  padding: 20px 10px;
  overflow: auto;
}

.container-address{
  width: 65%;
  margin-right: 5%;
}

.container-data{
  width: 30%;
}

.container-keyboard{
  height: 100%;
  padding: 10px;
}

.block-kybd{
  box-sizing: border-box;
}

.button{
  float: right;
  width: 75px;
  height: 75px;
  max-width: 50%;
  box-sizing: border-box;
  margin: 5px 0 5px 5px;
  text-transform: uppercase;

  border-radius: 50%;
  border: 2px solid $lightgrey;
  outline: none;

  font-family: Consolas, sans-serif;
  font-size: 1em;

  @include transition(all .7s ease);

  &:hover{
    background: darken(ghostwhite,5);
  }

  &:active{
    background: lighten(black,5);
  }
}

.large-block{
  width: 53%;
  padding: 0 20px;
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/


  & .button:nth-of-type(4n+1){
    clear: both;
  }
}

.small-block{
  width: 23.5%;

  &:nth-of-type(1) .button{
    float: left;
  }


  &:nth-of-type(1) .button:nth-of-type(2n+1){
    margin-left: 0;
  }

  & .button:nth-of-type(2n+1){
    clear: both;
  }
}